neopixel-2.json
[{"id":"af6ccdf3c8f67688","type":"tab","label":"neopixel","disabled":false,"info":"neopixel","env":[]},{"id":"031c87ee8902f196","type":"comment","z":"af6ccdf3c8f67688","name":"neopixel.json","info":"#flow.set(\"estado\",1); //config -> 2 marcha -> 3 reconfig -> 4 parado\nflow.set(\"modo\", 0)   // vento -> 1 agulha\nflow.set(\"ang_referencia\",undefined)\nflow.set ( \"orientado\", 0) // não -> 1 com referencial","x":110,"y":40,"wires":[]},{"id":"6ef5545e6c487396","type":"signalk-subscribe","z":"af6ccdf3c8f67688","name":"wind angle aparente","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"environment.wind.angleApparent","source":"","period":1000,"x":130,"y":100,"wires":[["825f44a927ad7ba8"]]},{"id":"67269f2c71c08222","type":"signalk-subscribe","z":"af6ccdf3c8f67688","name":"head magnetic","mode":"sendChanges","flatten":true,"context":"vessels.self","path":"navigation.headingMagnetic","source":"","period":1000,"x":120,"y":220,"wires":[["ad0fbb20c21af2fa"]]},{"id":"e8643faf454f51cf","type":"ui_gauge","z":"af6ccdf3c8f67688","name":"","group":"b9ac304a8ac8c4ef","order":5,"width":3,"height":3,"gtype":"compass","title":"Vento aparente","label":"graus","format":"{{value<180?value:value-360}}º","min":"0","max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":620,"y":100,"wires":[],"inputLabels":["teste"]},{"id":"263d8b90a3362acd","type":"ui_gauge","z":"af6ccdf3c8f67688","name":"","group":"b9ac304a8ac8c4ef","order":3,"width":3,"height":3,"gtype":"compass","title":"Proa magnetica","label":"graus","format":"{{value<180?value:value-360}}º","min":"0","max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":620,"y":220,"wires":[]},{"id":"1a6140df0d9095c8","type":"ui_gauge","z":"af6ccdf3c8f67688","name":"","group":"b9ac304a8ac8c4ef","order":1,"width":7,"height":4,"gtype":"gage","title":"Desvio do rumo","label":"graus","format":"{{value| number:1}} º","min":"-30","max":"30","colors":["#b30000","#e6e600","#43cb3a"],"seg1":"-7","seg2":"7","diff":true,"className":"","x":920,"y":140,"wires":[]},{"id":"0daacc96aa678a37","type":"ui_slider","z":"af6ccdf3c8f67688","name":"","label":"","tooltip":"","group":"b9ac304a8ac8c4ef","order":9,"width":3,"height":1,"passthru":true,"outs":"all","topic":"Valor","topicType":"str","min":"-15","max":"15","step":1,"className":"","x":570,"y":580,"wires":[["9020ab6de3bd55b5"]]},{"id":"3817d9df7376e887","type":"ui_button","z":"af6ccdf3c8f67688","name":"","group":"b9ac304a8ac8c4ef","order":8,"width":2,"height":1,"passthru":false,"label":"Acerto","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"num","topic":"Acerto","topicType":"str","x":90,"y":620,"wires":[["cd1adad9b6e204c1"]]},{"id":"9020ab6de3bd55b5","type":"ui_numeric","z":"af6ccdf3c8f67688","name":"","label":"","tooltip":"","group":"b9ac304a8ac8c4ef","order":10,"width":2,"height":1,"wrap":false,"passthru":true,"topic":"Valor","topicType":"str","format":"{{value}}","min":"-15","max":"+15","step":1,"className":"","x":580,"y":700,"wires":[["cd1adad9b6e204c1","0daacc96aa678a37"]]},{"id":"06368051ac5f2da2","type":"signalk-send-pathvalue","z":"af6ccdf3c8f67688","name":"Signalk_send rumoDesvio","path":"","source":"","meta":"","x":950,"y":180,"wires":[]},{"id":"1586b6c2569b24a3","type":"comment","z":"af6ccdf3c8f67688","name":"\"server\"  0n  off","info":"","x":1090,"y":20,"wires":[]},{"id":"61cd299e85d4cd83","type":"comment","z":"af6ccdf3c8f67688","name":"\"proa\"  vento  agulha","info":"","x":1110,"y":100,"wires":[]},{"id":"7be9a6877811bb73","type":"comment","z":"af6ccdf3c8f67688","name":"\"rumo\"  0-não 1-sim","info":"","x":1110,"y":60,"wires":[]},{"id":"ff4c41c31fe540ce","type":"ui_template","z":"af6ccdf3c8f67688","group":"b9ac304a8ac8c4ef","name":"state_warn","order":13,"width":7,"height":1,"format":"<style>\n.state_warn{\n    background-color: yellow !important;\n    color: black;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","className":"","x":290,"y":60,"wires":[[]]},{"id":"ad0fbb20c21af2fa","type":"function","z":"af6ccdf3c8f67688","name":"radToGrau","func":"const round = (n, decimals = 0) =>\n  Number(`${Math.round(`${n}e${decimals}`)}e-${decimals}`);\nmsg.payload = round(msg.payload * 180 / 3.14, 0) \nmsg.topic=\"norte\"\nflow.set('norte', msg.payload)\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":220,"wires":[["263d8b90a3362acd","764347e248b1cc18"]]},{"id":"825f44a927ad7ba8","type":"function","z":"af6ccdf3c8f67688","name":"radToGrau","func":"const round = (n, decimals = 0) =>\n  Number(`${Math.round(`${n}e${decimals}`)}e-${decimals}`);\nmsg.payload = round(msg.payload * 180 / 3.14, 0) \nmsg.topic=\"vento\"\nflow.set('vento', msg.payload)\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":100,"wires":[["e8643faf454f51cf","764347e248b1cc18"]]},{"id":"fabc9a7617c7f877","type":"function","z":"af6ccdf3c8f67688","name":"button logic","func":"let msg1=msg\nlet msg2=msg\nlet payload=msg.payload;\nlet server=context.get(\"server\");\nif(msg.topic==\"init\")\n{\n    server = \"open\";\n    msg.payload = \"close\";\n    msg.background = \"blue\";\n    msg.label = \"Iniciar BLE Server\";\n    msg.myicon = \"fa-toggle-off\";\n    msg.topic=\"control\";\n    context.set(\"state\", \"closed\");\n    return msg;\n}\n//toggle\nif (typeof server == \"undefined\" || server==\"open\")\n{\n//state=\"open\";\nmsg.payload= \"close\";\nmsg.background = \"blue\";\nmsg.label = \"Iniciar BLE Server\";\nmsg.myicon = \"fa-toggle-off\";\nserver=\"closed\";\ncontext.set(\"server\", server);\nreturn msg, msg1;\n}\nelse if (typeof server == \"undefined\" || server == \"closed\") {\n//state = \"close\";\nmsg.payload= \"open\";\nmsg.background = \"green\";\nmsg.label = \"Parar BLE Server\";\nmsg.myicon=\"fa-toggle-on\";\nserver=\"open\";\ncontext.set(\"server\", server);\nreturn msg, msg2;\n}\n","outputs":3,"timeout":"","noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"server\", \"closed\");\n//flow.set(\"server\", \"off\")","finalize":"","libs":[],"x":270,"y":840,"wires":[["d422bdca9f09d53e","a7a5305c76fae8d4"],["57981da62c16ab9b"],["64ec261323f9bd21"]]},{"id":"d422bdca9f09d53e","type":"debug","z":"af6ccdf3c8f67688","name":"debug 60","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":500,"y":780,"wires":[]},{"id":"a7a5305c76fae8d4","type":"change","z":"af6ccdf3c8f67688","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"label","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":920,"wires":[["824880ea341296be"]]},{"id":"aa2b7f65743d4968","type":"inject","z":"af6ccdf3c8f67688","name":"init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"init","payload":"close","payloadType":"str","x":110,"y":780,"wires":[["fabc9a7617c7f877"]]},{"id":"824880ea341296be","type":"ui_button","z":"af6ccdf3c8f67688","name":"Server","group":"b9ac304a8ac8c4ef","order":12,"width":7,"height":1,"passthru":false,"label":"{{topic}}","tooltip":"","color":"","bgcolor":"{{background}}","className":"","icon":"{{myicon}}","payload":"open","payloadType":"str","topic":"control","topicType":"str","x":90,"y":900,"wires":[["fabc9a7617c7f877"]]},{"id":"bc7f5e49215d1799","type":"function","z":"af6ccdf3c8f67688","name":"button logic","func":"let payload=msg.payload;\nlet proa=flow.get(\"proa\");\n\nif(msg.topic==\"init\")\n{\n    //proa = \"norte\";\n    msg.payload = \"vento\";\n    msg.background = \"blue\";\n    msg.label = \"Rumar de Agulha\";\n    msg.myicon = \"fa-toggle-off\";\n    msg.topic=\"Rumar\";\n    flow.set(\"proa\", \"vento\");\n    return msg;\n}\n//toggle\n\nif (typeof proa == \"undefined\" || proa==\"norte\")\n{\n    //state=\"open\";\n    msg.payload= \"vento\";\n    msg.background = \"blue\";\n    msg.label = \"Rumar de Agulha\";\n    msg.myicon = \"fa-toggle-off\";\n    proa=\"vento\";\n\n}\nelse \n    if (typeof proa == \"undefined\" || proa == \"vento\") \n    {\n        //state = \"close\";\n        msg.payload= \"norte\";\n        msg.background = \"green\";\n        msg.label = \"Rumar de Vento\";\n        msg.myicon=\"fa-toggle-on\";\n        proa=\"norte\";\n    }\nmsg.topic=\"Rumar\";    \nflow.set(\"proa\",proa);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nflow.set(\"proa\", \"vento\");\n","finalize":"","libs":[],"x":290,"y":360,"wires":[["26abc6815a82cb3f","d46f10b2e6e30f1a"]]},{"id":"cdec03ea8e47d143","type":"debug","z":"af6ccdf3c8f67688","name":"debug 61","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":480,"wires":[]},{"id":"26abc6815a82cb3f","type":"change","z":"af6ccdf3c8f67688","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"label","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":420,"wires":[["5e9883b6cfe005bd"]]},{"id":"5e9883b6cfe005bd","type":"ui_button","z":"af6ccdf3c8f67688","name":"Rumar","group":"b9ac304a8ac8c4ef","order":11,"width":7,"height":1,"passthru":false,"label":"{{topic}}","tooltip":"","color":"","bgcolor":"{{background}}","className":"","icon":"{{myicon}}","payload":"norte","payloadType":"str","topic":"Rumar","topicType":"str","x":110,"y":420,"wires":[["bc7f5e49215d1799"]]},{"id":"64ec261323f9bd21","type":"exec","z":"af6ccdf3c8f67688","command":"pkill -f node","addpay":"","append":"","useSpawn":"true","timer":"","winHide":false,"oldrc":false,"name":"","x":650,"y":880,"wires":[[],[],[]]},{"id":"57981da62c16ab9b","type":"exec queue","z":"af6ccdf3c8f67688","name":"start Gatt-Server","currentLine":{"row":2,"column":79},"command":"bash $file","debugMode":false,"outputs":0,"useSpawn":"false","field":"payload","fieldType":"msg","format":"sh","template":"sudo hciconfig hci0 down\nsudo service bluetooth stop\nsudo /home/vitor/go/src/github.com/vitormosousa/neopixel-agulha/neopixel-agulha","output":"str","outputEmpty":true,"vimMode":false,"queue":"3","addpayCB":false,"splitLine":false,"cleanQueue":true,"x":660,"y":820,"wires":[]},{"id":"cd145fadac2506e3","type":"ui_text","z":"af6ccdf3c8f67688","group":"b9ac304a8ac8c4ef","order":2,"width":0,"height":0,"name":"","label":"Proa","format":"{{msg.payload}} ","layout":"row-left","className":"state_warn","style":true,"font":"","fontSize":16,"color":"#000000","x":950,"y":400,"wires":[]},{"id":"764347e248b1cc18","type":"function","z":"af6ccdf3c8f67688","name":"desvioRumo","func":"var azimute=flow.get (\"azimute\")\nif (((flow.get('proa')=='vento') && (msg.topic=='vento')) ||\n    ((flow.get('proa')=='norte') && (msg.topic=='norte')))\n    {\n        msg.payload= azimute - msg.payload \n        msg.$source = \"neopixel\"\n        msg.topic=\"navigation.rumoDesvio\"\n\n        return msg;\n    }","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":160,"wires":[["1a6140df0d9095c8","06368051ac5f2da2"],[]]},{"id":"7161dd1559562dd1","type":"comment","z":"af6ccdf3c8f67688","name":"flow.set(\"proa\") // topic control // payload norte,vento","info":"","x":410,"y":320,"wires":[]},{"id":"6bbc444de53044c4","type":"comment","z":"af6ccdf3c8f67688","name":"topic vento payload valor","info":"","x":370,"y":140,"wires":[]},{"id":"0f7e9ee79c83d7ce","type":"comment","z":"af6ccdf3c8f67688","name":"topic norte payload valor","info":"","x":370,"y":180,"wires":[]},{"id":"cd1adad9b6e204c1","type":"function","z":"af6ccdf3c8f67688","name":"function 1","func":"\n// instrução para acerto\nnode.warn(msg.topic + \" antes \"+context.get(\"acerto\"));\nif ( msg.topic == 'Acerto')\n{\n    var msg1 = {payload: context.get(\"acerto\"), \n                    topic: 'Acerto'}\n    msg.payload=0   ;\n    context.set(\"acerto\", 0) ;\n   \n    return [msg1, msg] ;\n}\nelse    // instrução de update context acerto\n{\n    context.set(\"acerto\", msg.payload)\n}\n","outputs":2,"timeout":0,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\ncontext.set('acerto', 0)","finalize":"","libs":[],"x":320,"y":620,"wires":[["d46f10b2e6e30f1a"],["0daacc96aa678a37"]]},{"id":"b4da527f48ed03b8","type":"signalk-send-pathvalue","z":"af6ccdf3c8f67688","name":"Signalk_send steering.leme.desvio","path":"","source":"","meta":"","x":1020,"y":520,"wires":[]},{"id":"a9bd2f6b226392d1","type":"function","z":"af6ccdf3c8f67688","name":"function 2","func":"// Code added here will be run once\n// whenever the node is started.\nvar msg1 = { payload: msg.payload,topic:msg.topic };\nif (context.get(\"acerto\") === undefined) {\n    context.set(\"acerto\", 0)\n}\n// instrução de corrigir\nif (typeof msg.payload == \"string\")\n{\n    node.warn(msg)\n    var msg2=msg;\n    \n\n    // update azimute\n    let azimute=flow.get(\"azimute\")+context.get(\"acerto\")\n    flow.set(\"azimute\", azimute)\n\n    msg2.payload= azimute  ;\n    msg2.$source = \"neopixel\" ;\n    msg2.topic=\"steering.leme.desvio\" ;\n    node.warn(\"msg2 \" + msg2.payload+ \" \"+msg2.topic);\n    node.warn(msg2.payload)    \n    // update proa\n    if (flow.get(\"proa\") == \"vento\")\n    {\n        msg1.payload= azimute + \" Vento aparente\"\n        node.warn(msg1.payload)\n    }\n    else\n    {\n        msg1.payload= azimute + \" Norte Magnetico\"\n        node.warn(msg1.payload)\n    }\n    \n    context.set(\"acerto\", 0) ;\n    \n    // reset ang acerto\n    msg.payload=0   ;\n\n    return [msg, msg1, msg2] ;\n}\nelse    // instrução de update context acerto\n{\n    context.set(\"acerto\", msg.payload)\n}\n//return [null , null]","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":580,"wires":[[],[]]},{"id":"d46f10b2e6e30f1a","type":"function","z":"af6ccdf3c8f67688","name":"Set Referencial","func":"var msg1={payload:msg.payload, \n            topic: 'steering.leme.desvio', \n            $source : 'neopixel'} ;\nlet azimute = flow.get('azimute')\n\n\nif (msg.topic==='Acerto')\n{\n    let azi = azimute + msg.payload;\n    flow.set('azimute', azi);\n    if (msg.payload == \"vento\")\n    {\n        msg.payload= azi + \"º Vento aparente\"\n    }\n    else\n    {\n        msg.payload= azi + \"º Norte Magnetico\"\n    }\n    msg1.payload= azi ;\n}\n\n\nif (msg.topic == 'Rumar')\n{\n    let azi= flow.get(msg.payload)\n    flow.set('proa', msg.payload)\n    if (msg.payload == \"vento\")\n    {\n        //let azi= flow.get('vento')\n        flow.set('azimute', azi)\n        msg.payload= azi + \"º Vento aparente\"\n    }\n    else\n    {\n        //let azi= flow.get('norte')\n        flow.set('azimute', azi)        \n        msg.payload= azi + \"º Norte Magnetico\"\n    }\n    msg1.payload=azi\n}\n\n//msg1.payload= azimute - msg.payload \n\n\nreturn [msg, msg1];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":500,"wires":[["cd145fadac2506e3","cdec03ea8e47d143"],["b4da527f48ed03b8"]]},{"id":"c752d2bd7fd7360a","type":"inject","z":"af6ccdf3c8f67688","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"init","payload":"","payloadType":"date","x":120,"y":340,"wires":[["bc7f5e49215d1799"]]},{"id":"70c8d101df373624","type":"ui_spacer","z":"af6ccdf3c8f67688","name":"spacer","group":"b9ac304a8ac8c4ef","order":4,"width":1,"height":1},{"id":"c52713fceb178563","type":"ui_spacer","z":"af6ccdf3c8f67688","name":"spacer","group":"b9ac304a8ac8c4ef","order":6,"width":1,"height":1},{"id":"31374c21ff02d385","type":"ui_spacer","z":"af6ccdf3c8f67688","name":"spacer","group":"b9ac304a8ac8c4ef","order":7,"width":1,"height":1},{"id":"b9ac304a8ac8c4ef","type":"ui_group","name":"Navegação","tab":"6144ebfd2237600d","order":1,"disp":true,"width":7,"collapse":false,"className":""},{"id":"6144ebfd2237600d","type":"ui_tab","name":"Neopixel","icon":"dashboard","disabled":false,"hidden":false}]